* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    background: #ffffff;
}


header a {
    width: 100% auto;

}


.ima {
    margin: 5px 0;
    width: 150px;
    font-size: .4375rem;
}

.tudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #389cd6;
}

.nav {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;

}

a {
    font-family: Trebuchet MS;
    color: #fff;
    margin: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.containe {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 100%;
}

.container .titulo {
    color: #000;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-family: Trebuchet MS, sans-serif;
}

.fundo_cont {
    max-width: 460px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


.titulo h1 {
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    color: #389cd6;
    line-height: 1.2;
    display: block;
    margin-block-start: 50px;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.titulo p {
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
    
}
.titulo .fnt{
    color: rgb(0, 0, 0);
    font-size: large;
}

.ti{
    font-size: 1.8rem;
    color: #389cd6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 30px;
    font-family: Trebuchet MS, sans-serif;
}

.cad-img{
  width: 100%;
  max-height: 500px;
}
.meio{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background:#fff;
 
}

.card-x{
  width: 100%;
}

.cad-img{
  padding: 0 50px 0;
    width: 100%;
    height: 100%;
}

.lex{
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.co {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }

  /* Card Header*/
  .card-header {
    width: 100%;
    height: 355px;
    overflow: hidden;
  }
  
  .card-img {
    padding: 0 50px 0;
    width: 100%;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    padding: 2px;
    text-align: center;
    font-family: sans-serif;
  }
  
  
  
  .card-texto {
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #38a54a;
  }
  
  .card-1 .card-local {
    color: #2740d1;
  }
  
  .card-2 .card-footer {
    background-color: #dd507f;
  }
  
  .card-2 .card-local {
    color: #d12761;
  }
  
  .card-3 .card-footer {
    background-color: #389cd6;
  }
  
  .card-3 .card-local {
    color: #00c702;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  
  .inicio_fim{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-bottom: 70px;
  }

  .e_d>img{
    width: 100%;
    height: auto;
  }

.foot{
    background: #389cd6;
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.secon{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.three{
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-around;

}

.three ul>li{
 color: #ffffff;
 font-size: 1.1rem;
 margin-block-end: 10px;
 margin-inline-start: 10px;
}

.foot .log{
    align-items: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
     padding-bottom: 50px;
}